/.vs
.vs
bin
obj
*.v2
/.vs/SalesAndDistributionSystem/DesignTimeBuild/.dtbcache.v2
/SalesAndDistributionSystem/obj/Debug/netcoreapp3.1/*.txt
/SalesAndDistributionSystem.Domain/obj/Debug/netcoreapp3.1/*.cache
*.cache
*.suo
.futdcache.v1
fileList.bin
SalesAndDistributionSystem.csproj.AssemblyReference.cache
/SalesAndDistributionSystem/bin/Debug/netcoreapp3.1/*.dll
/SalesAndDistributionSystem/bin/Debug/netcoreapp3.1/*.pdb
/SalesAndDistributionSystem/obj/Debug/netcoreapp3.1/*.cache
/SalesAndDistributionSystem/obj/Debug/netcoreapp3.1/*.dll
/SalesAndDistributionSystem/obj/Debug/netcoreapp3.1/*.pdb
/SalesAndDistributionSystem/Logs
*.dll
*.pdb
SalesAndDistributionSystem.Domain.csproj.FileListAbsolute.txt
/SalesAndDistributionSystem/obj/Debug/netcoreapp3.1/project.razor.json
/SalesAndDistributionSystem/Logs/*.txt
