@model SalesAndDistributionSystem.Domain.Models.Entities.SalesAndDistribution.Area_Territory_Mst
@{
    ViewData["Title"] = "Area Territory Relation";
}
<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">


<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 sm-breadcrumb">
        <h4 class="h3 mb-0 text-gray-600">
            @ViewData["Title"].ToString()
        </h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn  btn-primary mb-1" href="/SalesAndDistribution/AreaTerritoryRelation/List">Search</a></li>

            <li class="breadcrumb-item"><button class="btn  btn-danger mb-1" ng-click="ClearForm()">Reset</button></li>
            <li class="breadcrumb-item"><button type="button" style="width: 100px;color:white;cursor:pointer" pe="button" ng-disabled="formMenuCategoryAdd.$invalid" name="btnSubmit" class="btn  btn-success mb-1" ng-click="SaveData(model)">Save</button></li>


        </ol>
    </div>


    <div class="card mb-4">

        <div class="card-body">



            <form name="formMenuCategoryAdd">
                <span ng-init="GetEditDataById('@Model.AREA_TERRITORY_MST_ID_ENCRYPTED')"></span>

                <fieldset>
                    <legend style="width:220px">Area Territory Relation</legend>

                    <div class="row" style="margin:20px">
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="COMPANY_ID">Company</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="COMPANY_ID" type="text" disabled class="form-control" hidden name="COMPANY_ID" ng-model="model.COMPANY_ID">
                                    <input id="COMPANY_NAME" disabled type="text" class="form-control" name="COMPANY_NAME" ng-model="model.COMPANY_NAME">

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="AREA_TERRITORY_MST_STATUS">Status</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" id="AREA_TERRITORY_MST_STATUS"
                                            name="AREA_TERRITORY_MST_STATUS" ng-model="model.AREA_TERRITORY_MST_STATUS" style="width:100%">

                                        <option ng-repeat="item in Status" value="{{item.STATUS}}" ng-selected="item.STATUS == model.AREA_TERRITORY_MST_STATUS">{{item.STATUS}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="AREA_NAME">Area Name</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="select2-single-Area form-control" id="AREA_CODE"
                                            name="AREA_CODE" ng-model="model.AREA_CODE" style="width:100%" ng-change="typeaheadSelectedArea()">

                                        <option ng-repeat="item in Areas" ng-selected="item.AREA_CODE == model.AREA_CODE" value="{{item.AREA_CODE}}">{{item.AREA_NAME}} -- {{item.AREA_CODE}}</option>
                                    </select>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="AREA_CODE">Code</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="AREA_CODE" ng-disabled="true" type="text" class="form-control" required
                                           name="AREA_CODE" ng-model="model.AREA_CODE">

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="EFFECT_START_DATE">Start Date</label>
                                </div>
                                <div class="col-md-8 simple-date2">
                                    <div class="input-group date">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                        </div>
                                        <input type="text" class="form-control" ng-change="CheckENDDateValidation(model) || CheckDateValidation(model)" ng-model="model.EFFECT_START_DATE" value="" id="oneYearView">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="EFFECT_END_DATE">End Date</label>
                                </div>
                                <div class="col-md-8 simple-date2">
                                    <div class="input-group date">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                        </div>
                                        <input type="text" class="form-control" ng-model="model.EFFECT_END_DATE" ng-change="CheckENDDateValidation(model) || CheckDateValidation(model)" value="" id="EFFECT_END_DATE">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12 space-bottom">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="REMARKS">Remarks</label>
                                </div>
                                <div class="col-md-10">
                                    <input id="REMARKS" type="text" class="form-control"
                                           name="REMARKS" ng-model="model.REMARKS">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="height: 57vh;">
                        <div class="col-lg-12 mb-4">
                            <div class="card" style="margin: 10px">
                                <div ui-grid="gridOptions" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                     style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 50vh;" class="grid">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>


        </div>



    </div>

    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader"></partial>
</div>

@section Scripts{
    <script src="~/ScriptsNg/SalesAndDistribution/AreaTerritoryRelation/Controller/InsertOrEditCtr.js"></script>
    <script src="~/ScriptsNg/SalesAndDistribution/AreaTerritoryRelation/Service/InsertOrEditServices.js"></script>
    <script src="~/ScriptsNg/SalesAndDistribution/Area/Service/AreaInfoServices.js"></script>
    <script src="~/ScriptsNg/SalesAndDistribution/Territory/Service/TerritoryInfoServices.js"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    <script src="~/Design/vendor/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript">
           $(document).ready(function () {
               $(".select2-single").select2({
                   placeholder: "Select"
               });

        });
    </script>
}