@using SalesAndDistributionSystem.Services.Business.Security
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4 class="h3 mb-0 text-gray-600">Page Name</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="btn btn-outline-primary mb-1" href="~/MenuCategory/">Menu Category List</a></li>
        <li class="breadcrumb-item"><a class="btn btn-outline-primary mb-1" href="~/MenuCategory/Add">Menu CategoryAdd</a></li>
    </ol>
</div>