@model SalesAndDistributionSystem.Domain.Models.Entities.SalesAndDistribution.Fg_Reciving_From_Production
@{
    ViewData["Title"] = "FG Receive From Production";
}
<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">


<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 sm-breadcrumb">
        <h4 class="h3 mb-0 text-gray-600">
            @ViewData["Title"].ToString()
        </h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button class="btn btn-defaul mb-1" style="background-color: #25abba;color:white" ng-click="LoadListPage()">Search</button></li>
            <li class="breadcrumb-item"><button class="btn  bg-primary mb-1" style="color:white" data-toggle="modal" data-target="#myModal1" ng-click="DataLoadUnchecked()">Load Unchecked Product</button></li>

            <li class="breadcrumb-item"><button class="btn  btn-danger mb-1" ng-click="ClearForm()">Reset</button></li>
            <li class="breadcrumb-item"><button type="button" style="width: 100px;color:white;cursor:pointer" pe="button" ng-disabled="formMenuCategoryAdd.$invalid && model.RECEIVE_STATUS == 'Complete' && model.RECEIVE_ID > 0" name="btnSubmit" class="btn  btn-success mb-1" ng-click="SaveData(model)">Save</button></li>

        </ol>
    </div>


    <div class="card mb-4">

        <div class="card-body">



            <form name="formMenuCategoryAdd">
                <span ng-init="GetEditDataById('@Model.RECEIVE_ID_ENCRYPTED')"></span>

                <fieldset>
                    <legend style="width:240px">FG Receive Entry</legend>

                    <div class="row" style="margin:20px; ">

                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="COMPANY_ID">Company</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="COMPANY_ID" type="number" hidden class="form-control" required
                                           name="COMPANY_ID" ng-model="model.COMPANY_ID">
                                    <input id="COMPANY_NAME" type="text" disabled class="form-control" required
                                           name="COMPANY_NAME" ng-model="model.COMPANY_NAME">

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="MRP">MRP</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="MRP" type="number" class="form-control"
                                           name="MRP" ng-model="model.MRP" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="UNIT_ID">Unit</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" id="UNIT_ID"
                                            name="UNIT_ID" ng-model="model.UNIT_ID" style="width:100%" ng-disabled="model.USER_TYPE != 'SuperAdmin'">

                                        <option ng-repeat="item in Units" value="{{item.UNIT_ID}}" ng-selected="item.UNIT_ID == model.UNIT_ID">{{item.UNIT_NAME}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="UNIT_TP">Unit TP</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="UNIT_TP" type="number" class="form-control"
                                           name="UNIT_TP" min="0" ng-model="model.UNIT_TP">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="TRANSFER_NOTE_NO">Transfer Note No.</label>
                                </div>
                                <div class="col-md-8">
                                    <input ng-disabled="model.RECEIVE_ID>0" type="text" class="form-control" autocomplete="off" name="TRANSFER_NOTE_NO" ng-model="model.TRANSFER_NOTE_NO" ng-dblclick="LoadFGTransferData()"
                                           id="#modalScroll" readonly required placeholder="Double click here to load Transfer Notes">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="BATCH_NO">Batch No</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="BATCH_NO" type="text" class="form-control" required
                                           name="BATCH_NO" disabled ng-model="model.BATCH_NO">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="SKU_NAME">SKU Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="SKU_NAME" disabled type="text" class="form-control" required
                                           name="SKU_NAME" ng-model="model.SKU_NAME">

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="PACK_SIZE">Pack Size</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="PACK_SIZE" type="text" class="form-control" required
                                           name="PACK_SIZE" disabled ng-model="model.PACK_SIZE">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="SKU_CODE">SKU Code</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="SKU_CODE" type="text" class="form-control" required
                                           name="SKU_CODE" disabled ng-model="model.SKU_CODE">

                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="RECEIVE_STOCK_TYPE">Receive Stock Type</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="RECEIVE_STOCK_TYPE" type="text" class="form-control" required
                                           name="RECEIVE_STOCK_TYPE" disabled ng-model="model.RECEIVE_STOCK_TYPE">

                                    @* <select disabled  class="select2-single form-control" id="RECEIVE_STOCK_TYPE"
                                    name="RECEIVE_STOCK_TYPE" ng-model="model.RECEIVE_STOCK_TYPE" style="width:100%">

                                    <option ng-repeat="item in ReceiveStockTypes" value="{{item.RECEIVE_STOCK_TYPE}}" ng-selected="item.RECEIVE_STOCK_TYPE == model.RECEIVE_STOCK_TYPE" >{{item.RECEIVE_STOCK_TYPE}}</option>
                                    </select>*@
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="SHIPPER_QTY">Shipper Qty</label>
                                </div>
                                <div class="col-md-8 simple-date2">
                                    <input id="SHIPPER_QTY" disabled type="text" class="form-control" required
                                           name="SHIPPER_QTY" ng-model="model.SHIPPER_QTY">

                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="RECEIVE_QTY">Receive Qty</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="RECEIVE_QTY" type="number" class="form-control" disabled required
                                           name="RECEIVE_QTY" ng-model="model.RECEIVE_QTY">

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="MFG_DATE">Menufacturing Date</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="MFG_DATE" type="text" class="form-control" required
                                           name="MFG_DATE" disabled ng-model="model.MFG_DATE">

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="RECEIVE_AMOUNT">Received Amount</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="RECEIVE_AMOUNT" type="text" class="form-control" required
                                           name="RECEIVE_AMOUNT" disabled ng-model="model.RECEIVE_AMOUNT">

                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="EXPIRY_DATE">Expriry Date</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="EXPIRY_DATE" type="text" class="form-control"
                                           name="EXPIRY_DATE" disabled ng-model="model.EXPIRY_DATE">

                                </div>
                            </div>

                        </div>
                        @*                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="RECEIVE_STATUS">Receive Status</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" ng-disabled="model.RECEIVE_STATUS == 'Complete' && model.RECEIVE_ID>0" id="DIVISION_STATUS"
                                            name="RECEIVE_STATUS" ng-model="model.RECEIVE_STATUS" style="width:100%">

                                        <option ng-repeat="item in Status" value="{{item.RECEIVE_STATUS}}" ng-selected="item.RECEIVE_STATUS == model.RECEIVE_STATUS">{{item.RECEIVE_STATUS}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>*@



                        @*   <div class="col-md-6 space-bottom">
                        <div class="row">
                        <div class="col-md-4">
                        <label for="SHIPPER_QTY">Total Received Qty</label>
                        </div>
                        <div class="col-md-8">
                        <input id="SHIPPER_QTY" type="number" class="form-control"
                        name="SHIPPER_QTY" disabled ng-model="model.SHIPPER_QTY"  >

                        </div>
                        </div>

                        </div>*@


                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="REMARKS">Remarks</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="REMARKS" type="text" class="form-control"
                                           name="REMARKS" ng-model="model.REMARKS">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset style="margin:10px">
                                <div class="row" style="margin:20px;padding-top:20px;background-color: #eeedfa ">
                                    <div class="col-md-6 space-bottom">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="RECEIVED_BY">Received By</label>
                                            </div>
                                            <div class="col-md-12">
                                                <input id="RECEIVED_BY_ID" style="display:none" type="text" class="form-control"
                                                       name="RECEIVED_BY" disabled ng-model="model.RECEIVED_BY_ID">
                                                <input id="RECEIVED_BY_NAME" disabled type="text" class="form-control"
                                                       name="RECEIVED_BY_NAME" ng-model="model.RECEIVED_BY_NAME">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 space-bottom">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="RECEIVE_DATE">Receive Date</label>
                                            </div>
                                            <div class="col-md-12 simple-date2">
                                                <div class="input-group date">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" disabled ng-model="model.RECEIVE_DATE">
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset style="margin:10px">
                                <div class="row" style="margin:20px;padding-top:20px;background-color: #eeedfa ">

                                    <div class="col-md-6 space-bottom">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="CHECKED_BY_ID">Checked By</label>
                                            </div>
                                            <div class="col-md-12">
                                                <input id="CHECKED_BY_ID" style="display:none" disabled type="text" class="form-control"
                                                       name="CHECKED_BY_ID" ng-model="model.CHECKED_BY_ID">
                                                <input id="CHECKED_BY_NAME" disabled type="text" class="form-control"
                                                       name="CHECKED_BY_NAME" ng-model="model.CHECKED_BY_NAME">

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 space-bottom">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="CHECKED_BY_DATE">Check Date</label>
                                            </div>
                                            <div class="col-md-12 simple-date2">
                                                <div class="input-group date">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" disabled ng-model="model.CHECKED_BY_DATE">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>


                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:1200px">
                            <div class="modal-content" style="height:1000px !important">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Transfer Receiveable Finishd Products</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row" style="height: 75vh;">
                                        <div class="col-lg-12 mb-4">
                                            <div class="card" ng-show="model.LIST_VIEW == 'Active'" style="margin: 10px">
                                                <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                                     style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 70vh;" class="grid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                    @*                  <button type="button" class="btn btn-primary">Save changes</button>
                                    *@
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>


            <!-- Modal -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width:1000px;margin-left:-200px">
                        <div class="modal-header">

                            <h4 class="modal-title" id="myModalLabel">Select Unchecked Finished Product to Check</h4>
                        </div>

                        <div class="modal-body">
                            <div class="row" style="height: 75vh;">
                                <div class="col-lg-12 mb-4">
                                    <div class="card" ng-show="model.LIST_VIEW == 'Active'" style="margin: 10px">
                                        <div ui-grid="gridOptionsListUnchecked" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                             style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 70vh;" class="grid">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title" id="myModalLabel">Modal 2</h4>
                        </div>

                        <div class="modal-body">
                            <p>Sign In Error</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader"></partial>
</div>
@section Scripts {
    <script src="~/ScriptsNg/Inventory/FGReceive/Controller/ReceiveFromProductionCtr.js"></script>
    <script src="~/ScriptsNg/Inventory/FGReceive/Service/ReceiveFromProductionServices.js"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    <script src="~/Design/vendor/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2-single").select2({
                placeholder: "Select...."
            });

        });
    </script>
}

