@model SalesAndDistributionSystem.Domain.Models.Entities.Inventory.Miscellaneous_Issue_Mst
@{
    ViewData["Title"] = "Miscellaneous Issue";
}
<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">


<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 sm-breadcrumb">
        <h4 class="h3 mb-0 text-gray-600">
            @ViewData["Title"].ToString()
        </h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button class="btn  btn-danger mb-1" ng-click="ClearForm()">Reset</button></li>
            <li class="breadcrumb-item"><button type="button" style="width: 100px;color:white;cursor:pointer" pe="button" name="btnSubmit" class="btn  btn-success mb-1" ng-click="SaveData(model)">Save</button></li>
            <li class="breadcrumb-item"><a class="btn  btn-primary mb-1" href="/Inventory/MiscellaneousIssue/MiscellaneousIssueList">Search</a></li>

        </ol>
    </div>


    <div class="card mb-4">

        <div class="card-body">

            <form name="formMenuCategoryAdd">
                <span ng-init="GetEditDataById('@Model.MST_ID_ENCRYPTED')"></span>
                <fieldset>
                    <legend style="width:220px">Misc.Issue Master</legend>

                    <div class="row" style="margin:20px">
                        <div class="col-md-12 space-bottom">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="Unit">Issue Unit</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="UNIT_NAME" type="text" disabled class="form-control" name="UNIT_NAME" ng-model="model.UNIT_NAME">

                                </div>

                                <div class="col-md-1">
                                    <label for="ISSUE_DATE">Comapany</label>
                                </div>
                                <div class="col-md-3">
                                    <input id="COMPANY_ID" type="text" hidden class="form-control" required name="COMPANY_ID" ng-model="model.COMPANY_ID">
                                    <input id="COMPANY_NAME" type="text" disabled class="form-control" required name="COMPANY_NAME" ng-model="model.COMPANY_NAME">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 space-bottom">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="ISSUE_NO">Misc. Issue No</label>
                                </div>
                                <div class="col-md-2">
                                    <input id="ISSUE_NO" type="text" disabled class="form-control" required name="ISSUE_NO" ng-model="model.ISSUE_NO">
                                    <input id="MST_ID" type="text" hidden class="form-control" required name="MST_ID" ng-model="model.MST_ID">
                                </div>
                                <div class="col-md-1">
                                    <label for="RAISED_FROM">Raise From</label>
                                </div>
                                <div class="col-md-3">
                                    @*<input id="RAISED_FROM" type="text" class="form-control" required name="RAISED_FROM" ng-model="model.RAISED_FROM">*@
                                    <select class="form-control" id="RAISED_FROM"
                                            name="RAISED_FROM" ng-model="model.RAISED_FROM" style="width:100%">
                                        <option ng-repeat="item in RaisedFrom" value="{{item.RAISED_FROM}}" ng-selected="item.RAISED_FROM == model.RAISED_FROM">{{item.RAISED_FROM}}</option>
                                    </select>
                                </div>

                                <div class="col-md-1">
                                    <label for="ISSUE_DATE">Issue Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input id="ISSUE_DATE" type="text" disabled class="form-control" required
                                           name="ISSUE_DATE" ng-model="model.ISSUE_DATE">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 space-bottom">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="STATUS">Status</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" id="STATUS"
                                            name="STATUS" ng-model="model.STATUS" style="width:100%">
                                        <option ng-repeat="item in Status" value="{{item.STATUS}}" ng-selected="item.STATUS == model.STATUS">{{item.STATUS}}</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label for="SUBJECT">Subject</label>
                                </div>
                                <div class="col-md-3">
                                    @*<input id="SUBJECT" type="text" class="form-control" 
                                               name="SUBJECT" ng-model="model.SUBJECT" >*@

                                    <select class="form-control" id="SUBJECT"
                                            name="SUBJECT" ng-model="model.SUBJECT" style="width:100%">
                                        <option ng-repeat="item in Subject" value="{{item.SUBJECT}}" ng-selected="item.SUBJECT == model.SUBJECT">{{item.SUBJECT}}</option>
                                    </select>

                                </div>
                                <div class="col-md-1">
                                    <label for="Remarks">Remarks</label>
                                </div>
                                <div class="col-md-3">
                                    <input id="Remarks" type="text" class="form-control"
                                           name="Remarks" ng-model="model.Remarks">
                                </div>
                            </div>

                        </div>


                    </div>
                </fieldset>
                <fieldset style="margin-top:10px;">
                    <legend style="width:220px">Misc.Issue Detail</legend>

                    <div class="row" style="margin:20px">
                        <div class="col-lg-12 mb-4" style="height: 37vh;">
                            <div class="card">
                                <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                     style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 35vh;" class="grid">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader"></partial>
</div>
@section Scripts {
    <script src="~/ScriptsNg/Inventory/MiscellaneousIssue/Controller/MiscellaneousIssueCtr.js?v=2"></script>
    <script src="~/ScriptsNg/Inventory/MiscellaneousIssue/Service/MiscellaneousIssueService.js?v=2"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    <script src="~/Design/vendor/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2-single").select2({
                placeholder: "Select...."
            });

        });

    </script>
    <script>
        var CurrentDate = '@ViewBag.CurentDate';
    </script>
}
