@model SalesAndDistributionSystem.Domain.Models.Entities.SalesAndDistribution.Distributor_Product_Mst
@{
    ViewData["Title"] = "Distributor Product Relation";
}
<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">


<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 sm-breadcrumb">
        <h4 class="h3 mb-0 text-gray-600">
            @ViewData["Title"].ToString()
        </h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn  btn-primary mb-1" href="/SalesAndDistribution/DistributorProductRelation/list">Search</a></li>

            <li class="breadcrumb-item"><button class="btn  btn-danger mb-1" ng-click="ClearForm()">Reset</button></li>
            <li class="breadcrumb-item"><button type="button" style="width: 100px;color:white;cursor:pointer" pe="button" ng-disabled="formMenuCategoryAdd.$invalid" name="btnSubmit" class="btn  btn-success mb-1" ng-click="SaveData(model)">Save</button></li>
        </ol>
    </div>


    <div class="card mb-4">
        <div class="card-body">
            <form name="formMenuCategoryAdd">
                <span ng-init="GetEditDataById('@Model.MST_ID_ENCRYPTED')"></span>
                <fieldset>
                    <legend style="width:380px">
                        Distributor Product Relation Info
                    </legend>
                    <div class="row" style="margin:20px">
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="DIVISION_CODE">Distributor Product Type</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="DISTRIBUTOR_PRODUCT_TYPE" type="text" class="form-control" required
                                           name="DISTRIBUTOR_PRODUCT_TYPE" ng-model="model.DISTRIBUTOR_PRODUCT_TYPE">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="height: 57vh;">
                        <div class="col-lg-12 mb-4">
                            <div class="card" style="margin: 10px">
                                <div ui-grid="gridOptions" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                     style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 50vh;" class="grid">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader"></partial>
</div>

@section Scripts {
    <script src="~/scriptsng/salesanddistribution/distributorproductrelation/controller/insertoreditctr.js"></script>
    <script src="~/ScriptsNg/SalesAndDistribution/DistributorProductRelation/Service/InsertOrEditServices.js"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    <script src="~/Design/vendor/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2-single").select2({});
            $("#select2-single1").select2({});

        });
    </script>
}