@{
    ViewData["Title"] = "User Default Page";
}
<link href="/Design/css/site.css" rel="stylesheet">

<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">
    <div class="d-sm-flex align-items-center justify-content-between mt-1">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"].ToString()</h1>
    </div>

    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-body p-1">
                    <form name="formMenuCategoryAdd">
                        <fieldset>
                            <div class="row" style="margin:5px">
                                <div class="col-md-12 h5 mb-0 text-gray-600" ng-show="model.USER_TYPE == 'SuperAdmin'">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label style="margin-top:5px" for="Role_Id">Select Company :</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="select2-single form-control" id="COMPANY_ID"
                                                    name="COMPANY_ID" ng-model="model.COMPANY_ID" style="width:100%">

                                                <option ng-repeat="item in Companies" value="{{item.COMPANY_ID}}" ng-selected="model.COMPANY_ID==item.COMPANY_ID">{{item.COMPANY_NAME}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="form-control btn btn-secondary" ng-show="model.LIST_VIEW == 'Active'" pe="button" name="btnSubmit" ng-click="LoadDefaultPageslist(model)"> Load List</button>

                                        </div>
                                    </div>


                                </div>

                                <div class="form-group col-md-4">
                                    <label for="Role_Id">Select User</label>
                                    <div class="typeaheadcontainer">
                                        <input type="text" autocomplete="off" style="width:100%;" class="form-control" name="USER_NAME"
                                               ng-model="model.USER_NAME"
                                               uib-typeahead="User as User.USER_NAME for User in AutoCompleteDataLoadForUsers($viewValue)| limitTo:5"
                                               typeahead-append-to-body="true"
                                               placeholder="Enter (User Name) minimum 3 character"
                                               typeahead-editable="false"
                                               typeahead-on-select="typeaheadSelectedUsers(model, $item)" />
                                    </div>

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Role_Id">Select Page</label>
                                    <div class="typeaheadcontainer">
                                        <input type="text" autocomplete="off" style="width:100%;" class="form-control" name="USER_NAME"
                                               ng-model="model.MENU_NAME"
                                               uib-typeahead="DefaultPage as DefaultPage.DEFAULTPAGE for DefaultPage in AutoCompleteDataLoadForDefaultPage($viewValue)| limitTo:5"
                                               typeahead-append-to-body="true"
                                               placeholder="Enter (page name) minimum 3 character"
                                               typeahead-editable="false"
                                               typeahead-on-select="typeaheadSelectedDefaultPage(model, $item)" />
                                    </div>

                                </div>
                                <div class="form-group col-md-4">
                                    <div class="row" style="margin-top:5px">
                                        <div class="col-md-6">
                                            <label for="select2Multiple"></label>
                                            <button type="button" class="form-control btn btn-success" ng-show="model.ADD_PERMISSION == 'Active'" style="margin-top:5px" pe="button" name="btnSubmit" ng-disabled="model.USER_ID < 1 || model.MENU_ID < 1" ng-click="SaveData(model)"> Submit</button>

                                        </div>
                                        <div class="col-md-6">
                                            <label for="select2Multiple"></label>
                                            <a style="height: 55%;margin-top:5px" type="button" class="form-control btn btn-danger" ng-show="model.LIST_VIEW == 'Active'" pe="button" name="btnSubmit" href="/Security/User/DefaultPage"> Reload</a>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body p-2">
                    <fieldset>
                        <legend style="width:190px">Manu List</legend>
                        <div ng-show="model.LIST_VIEW == 'Active'">
                            <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning
                                 style="color: #252222;height: 55vh " class="grid m-2">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader"></partial>
</div>
@section Scripts {
    <script src="~/ScriptsNg/Security/User/Controller/DefaultPageCtr.js?v=ridwanSL1"></script>
    <script src="~/ScriptsNg/Security/User/Service/UserServices.js?v=ridwanSL1"></script>
    <script src="~/ScriptsNg/Security/Company/Service/CompanyService.js"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2-single").select2({
                placeholder: "Select...."
            });

        });
    </script>
}
