@{
    ViewData["Title"] = "Distributor Password";
}
<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">


<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">
    <div class="d-sm-flex align-items-center justify-content-between mt-1">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"].ToString()</h1>
    </div>
    <div class="card mb-4" ng-show="!show">
        <div class="card-body" style="height: 80vh">
            <form name="formMenuCategoryAdd">
                <div class="row" style="margin:100px">
                    <div class="col-md-6 space-bottom">
                        <span>*dmin***show**ss*ord</span>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="PASSWORD">PASSWORD</label>
                            </div>
                            <div class="col-md-8">
                                <input id="PASSWORD" type="password" class="form-control"
                                       name="PASSWORD" ng-model="model.PASSWORD" ng-keypress="onChangePassword($event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-4" ng-show="show">
        <div class="card-body">
            <fieldset>
                <legend style="width:140px">User List</legend>
                <div class="row" style="height: 75vh;">
                    <div class="col-lg-12 mb-4">
                        <div class="card" style="margin: 10px">
                            <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                 style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 70vh;" class="grid">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader" />
</div>
@section Scripts {
    <script src="~/ScriptsNg/security/user/controller/userpasswordsctrl.js?v=12"></script>
    <script src="~/ScriptsNg/security/user/service/userpasswords.js"></script>
    <script src="~/ScriptsNg/Security/Company/Service/CompanyService.js"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    <script src="~/Design/vendor/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2-single").select2({
                placeholder: "Select...."
            });

        });
    </script>
}