@{
    ViewData["Title"] = "National Target Process";
}
<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">


<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 sm-breadcrumb">
        <h4 class="h3 mb-0 text-gray-600">
            @ViewData["Title"].ToString()
        </h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button class="btn  btn-danger mb-1" ng-click="ClearForm()">Reset</button></li>
            <li class="breadcrumb-item"><button type="button" style="width: 100px;color:white;cursor:pointer" pe="button" name="btnSubmit" class="btn  btn-success mb-1" ng-click="SaveData(model)">Save</button></li>
            <li class="breadcrumb-item"><a class="btn  btn-primary mb-1" href="/Target/CustomerTarget/CustomerNationalTargetList">Search</a></li>

        </ol>
    </div>


    <div class="card mb-4">
        <div class="card-body">
            <form name="formMenuCategoryAdd">
                <fieldset>
                    <legend style="width:180px">Target For</legend>


                    <div class="row" style="margin:20px">

                        <div class="col-md-4 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="YEAR">Target Year</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" id="YEAR" required
                                            name="YEAR" ng-model="model.YEAR" style="width:100%">

                                        <option ng-repeat="item in years" value="{{item}}" ng-selected="item == model.YEAR">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="MONTH_CODE">Target Month</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" id="MONTH_CODE" required
                                            name="MONTH_CODE" ng-model="model.MONTH_CODE" style="width:100%">

                                        <option ng-repeat="item in months" value="{{item.Id}}" ng-selected="item.MONTH_CODE == model.MONTH_CODE">{{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:20px">
                        <div class="col-md-4 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="ATTACHMENT">Import from Excel</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="file" name="ATTACHMENT" id="ATTACHMENT" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="button" class="btn btn-info mb-1" ng-click="UploadFile()" value="Upload" />
                                </div>
                                <div class="col-md-8">
                                    <a href="~/excelfile/Customer_Target.xlsx" class="btn btn-outline-success  mb-1" download="Customer_Target">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        Excel
                                    </a>


                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset style="margin-top:10px;">
                    <legend style="width:180px">Target Detail</legend>
                    <div class="row" style="height: 60vh;">
                        <div class="col-lg-12 mb-4">
                            <div class="card" style="margin: 10px">
                                <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                     style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 58vh;" class="grid">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader" />
</div>

@section scripts{

    <script src="~/ScriptsNg/Target/CustomerTarget/Controller/TargetProcessCtr.js?v=12"></script>
    <script src="~/ScriptsNg/Target/CustomerTarget/Service/CustomerTargetService.js"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Security/Notification/Service/LiveNotificationServices.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    <script src="~/Design/vendor/select2/dist/js/select2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2-single").select2({
                placeholder: "Select...."
            });
        });
    </script>
}