@{
    ViewData["Title"] = "Distribution Delivery Non-Confirmed List";
}

<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">


<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 sm-breadcrumb">
        <h4 class="h3 mb-0 text-gray-600">
            @ViewData["Title"].ToString()
        </h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button class="btn  bg-primary mb-1" style="color:white" data-toggle="modal" data-target="#filterModalScrollable">Show Filter</button></li>
            <li class="breadcrumb-item"><a class="btn  btn-primary mb-1" href="/Inventory/DistributionDelivery/Delivery">Entry</a></li>

            <li class="breadcrumb-item"><button class="btn  btn-danger mb-1" ng-click="ClearForm()">Refresh</button></li>
        </ol>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <fieldset>
                <legend style="width:250px">Delivery Non-Confirmed List</legend>
                <div class="row" style="height: 60vh;">
                    <div class="col-lg-12 mb-4">
                        <div class="card" style="margin: 10px">
                            <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                 style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 58vh;" class="grid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:1200px">
                        <div class="modal-content" style="height:1000px !important">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Modal scrollable title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="height: 75vh;">
                                    <div class="col-lg-12 mb-4">
                                        <div class="card" style="margin: 10px">
                                            <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                                 style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 70vh;" class="grid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
    </div>

    <div class="modal fade" id="filterModalScrollable" tabindex="-1" role="dialog"
         aria-labelledby="filterModalScrollable" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:1200px;">
            <div class="modal-content" style="height:350px !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Order View Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" ng-show="model.LIST_VIEW == 'Active'">
                    <div class="card">
                        <div class="row" style="margin:10px">
                            <div class="col-md-4 space-bottom" id="date_from_param">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="DATE_FROM">From Date</label>
                                    </div>
                                    <div class="col-md-8 simple-date2">

                                        <div class="input-group date">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                            </div>
                                            <input type="text" ng-change="LoadReportParamters" class="form-control" ng-model="model.DATE_FROM">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 space-bottom" id="date_to_param">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="DATE_TO">To Date</label>
                                    </div>
                                    <div class="col-md-8 simple-date2">
                                        <div class="input-group date">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                            </div>
                                            <input type="text" ng-change="LoadReportParamters" class="form-control" ng-model="model.DATE_TO">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 space-bottom" id="company_route_param" style="display:block">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="DIST_ROUTE_ID">Route</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="select2-single form-control" id="DIST_ROUTE_ID" style="width:100%"
                                                name="DIST_ROUTE_ID" ng-model="model.DIST_ROUTE_ID">
                                            <option ng-repeat="item in distRoutes" value="{{item.DIST_ROUTE_ID}}"
                                                    ng-selected="item.DIST_ROUTE_ID == model.DIST_ROUTE_ID">
                                                {{item.DIST_ROUTE_NAME}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 space-bottom" id="company_vehicle_param" style="display:block">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="VEHICLE_NO">Vehicle</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" id="VEHICLE_NO"
                                                name="VEHICLE_NO" ng-model="model.VEHICLE_NO" style="width:100%">
                                            <option ng-repeat="item in vehicles" value="{{item.VEHICLE_NO}}" ng-selected="item.VEHICLE_NO == model.VEHICLE_NO">{{item.VEHICLE_NO}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-md-4 space-bottom" id="date_to_param">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button class="btn  bg-success mb-1" style="color:white;width:100%" data-toggle="modal" data-target="#filterModalScrollable" ng-disabled="DATE_FROM =='' && DATE_TO == ''" ng-click="LoadFilteredData()">Process</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn  btn-danger mb-1" style="color:white;width:100%" ng-click="ClearForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader" />
</div>

@section Scripts{
    <script src="~/ScriptsNg/Inventory/DistributionDelivery/Controller/NonConfirmedListCtr.js"></script>
    <script src="~/ScriptsNg/Inventory/DistributionDelivery/Service/DistributionDeliveryServices.js"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    <script src="~/Design/vendor/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2-single").select2({
                placeholder: "Select"
            });

        });
    </script>
}